<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nacre Accueil</title>

</head>

<body style="background-color:#e0e0db;">

<header role="banner" id="demo-navbar">



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
        <div class=" collapse navbar-collapse " id="navbarNavDropdown">
                <div class="navbar-brand">
                   &nbsp;  &nbsp; <img src="\assets\orangelogo.png"/>
                </div>
             <div class="col-lg-2">
            <div id="appName">
                <h1 style="color: white; margin-top: 25px; margin-left: -16px">Nacre</h1>
            </div>
             </div>
    <ul class="navbar-nav  mr-auto mt-0 mt-lg-0 pl-4">
    
                <li class="nav-item dropdown " style="color: white; margin-top: 15px; margin-left: 0px">
                                  <a class="nav-link"  routerLink="/">Accueil </a>

            </li>
     
              

 <li class="nav-item dropdown " style="color: white; margin-top: 15px; margin-left: 10px">
                 
      
                                    <button type="button" class="nav-link btn btn-link btn-inverse dropdown-toggle d-flex align-items-center" data-toggle="dropdown">
               
                    <span>Tous</span>
                </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a class="dropdown-item" href="#">a definir</a></li>
                                        <li><a class="dropdown-item" href="#">a definir</a></li>
                                    </ul>
                              
           
                </li>



     <div class="nav-item dropdown " style=" margin-top: 20px; margin-left: 10px; width: 220px" >
 <form class="form-inline">
    <input class="form-control2" type="search" placeholder="Rehcerche client" aria-label="Search">
    <hr style="margin-left:10px ;margin-top: 0rem; height:0px; width:250px; background-color: white"> 
  </form>
            </div>


 <li class="nav-item dropdown " style="color: white; margin-top: 15px; margin-left: 530px">
                 
      
                                    <button type="button" class="nav-link btn btn-link btn-inverse dropdown-toggle d-flex align-items-center" data-toggle="dropdown">
               
                    <span>Isabelle</span>
                </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a class="dropdown-item" href="#">a definir</a></li>
                                        <li><a class="dropdown-item" href="#">a definir</a></li>
                                    </ul>
                              
           
                </li>


                <li class="nav-item dropdown ">

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    </div>
                </li>

                <li class="nav-item dropdown">

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    </div>
                </li>
                <li class="nav-item dropdown ">

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">



                    </div>
                </li>
            </ul>
 
        </div>
    </nav>
</header>






        <main role="main" id="content" class="container-fluid my-5">
            <div class="row whiteback" style="background-color:#fff;">
                <div class="col-md-3">
                    <p class="style"><span style="font-family:Helvetica Neue 75 Bold,Helvetica Neue 55 Roman, Helvetica Neue, sans-serif; font-weight: 700;">
                      <h3>  LEFEBVRE Jean-Baptiste  </h3>     </span></p> 
                    <hr style="margin-left:0px ;margin-top: 0.1rem;height:1px; width:200px; background-color: rgb(15, 11, 11)"> 
                </div>
                <div class="col-md-3">
                        <p class="style">Client <span style="font-family:Helvetica Neue 75 Bold,Helvetica Neue 55 Roman, Helvetica Neue, sans-serif; font-weight: 700;">
                            Microsoft</span>
                        </p>  
                        <hr style="margin-left:0px ;margin-top: 0.01rem;height:1px; width:120px; background-color: rgb(15, 11, 11)">      
                </div>
                <div class="col-md-3">
                    <p class="style" >Motif demande</p>  
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="dropdown" style="margin-top:-2px;">
                                <button class="btn btn-primary dropdown-toggle" style="border-radius: 50px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Suivi commande
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Suivi commande</a>
                                    <a class="dropdown-item" href="#">Facturation</a>
                                    <a class="dropdown-item" href="#">Gestion contrat</a>
                                    <a class="dropdown-item" href="#">Assistance</a>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-3" style="margin-top:2rem">
                                <span class="icon-arrow-down"></span>
                        </div>
                    </div>
                </div>
            </div>

<br>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link " href="#profile" role="tab" data-toggle="tab">Recherche interlocuteur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#buzz" role="tab" data-toggle="tab">Fiche interlocuteur</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="profile">
        <div class="card-header1">    Recherche interlocuteur  </div>

         <div class="card-header2" style="margin-top: 25px; height: 65px;">
<div class="alert alert-info alert-sm" role="alert">
  <span class="alert-icon"><span class="sr-only">Info</span></span>
  <p>Pour chercher votre interlocuteur, renseigner au moins &nbsp; </p> <strong style="color: Orange;">une information du client &nbsp; </strong> ou  <strong style="color: Orange;"> &nbsp; un moyen du contrat</strong> 
</div>
  </div>
<br>
<br>
<p style="color:darkgray ;"> Information client </p>
<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">No.Compte de Facturation</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="No.Compte de Facturation">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Siren/Siret</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Siren/Siret">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Raison sociale </label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Raison sociale">
    </div>
  </div>
<br>
<p style="color:darkgray ;"> Information interlocuteur </p>
<br>
<div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputEmail4">Nom</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Nom">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEmail4">Prénom</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Prénom">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4">Email </label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
    </div>
  </div>
  




  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">No.mobile</label>
      <input type="text" class="form-control" id="inputCity"  placeholder="No.mobile" >
    </div>
    <div class="form-group col-md-4">
       <label for="inputCity">No.fixe</label>
      <input type="text" class="form-control" id="inputCity"  placeholder="No.fixe" >
    </div>

  </div>
 

<div class="form-row">
    <div class="form-group col-md-4">
    </div>
  <div class="form-group col-md-4">
    </div>

  <div class="form-group col-md-4">
            <button type="reset" class="btn btn-primary"> Rénitialiser </button>

    </div>

  </div>


</form>


  </div>






  <div role="tabpanel" class="tab-pane fade" id="buzz"> 
   <div class="card-header">
   <h6    > Fiche interlocuteur détaillée </h6>
  </div>
<div class="card">
  <div class="card-body">
  <h4> Autres informations </h4>
<h4 style="color:darkgray ;">Les informations ci-dessous sont liées au compte sélectionné.</h4>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Fonction</th>
       <td>Responsable de compte</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      
    <tr>
      <th scope="col"> <button type="button" class="btn btn-danger1">Non</button>
  </th>
      <td>Interlocuteur principal</td>
      <td>Interlocuteur principal du client</td>
      <td></td>
    </tr>
    <tr>
      <th scope="col">    <button type="button" class="btn btn-danger2">Oui</button>               </th>
      <td>Accès ECE</td>
      <td>L'interlocuteur possède un compte ECE</td>
      <td><u> <strong> Login web  </strong> </u>
        <br>
    <button type="button" class="btn btn-secondary">Renvoyer liens ECE

</button>

    </td>

    </tr>
    <tr>
      <th scope="row">  <button type="button" class="btn btn-danger2">Oui</button> </th>
      <td colspan="2">  Alerting cut off </td>
      <td>Voir la page de <u> <strong> Transactions </strong> </u> et sélectionner un compte pour gérer les administrateurs associés</td>
    </tr>
  </tbody>
</table>
<div class="alert alert-info alert-sm" role="alert">
  <span class="alert-icon"><span class="sr-only">Info</span></span>
  <p>Cliquer pour consulter les différentes permissions sur les sondages.

  </p>
</div>
  </div>
</div>



<br>
<br>


<div class="card">
  <div class="card-body">
<strong>   Dernier sondage </strong>


<div class="form-row">
    <div class="form-group col-md-4">
        Dernier sondage laissé par
        <br>
<strong> LEFEBVRE Jean-Baptise
Motif :  </strong> <br> suivi de commande
<br>
<br>
<strong> Voir plus de sondage <strong style="color: Orange;" >  > </strong> </strong>
    </div>
  <div class="form-group col-md-4">
      Evaluation :
3/5 etoiles
    </div>

  <div class="form-group col-md-4">
<strong> Commentaire  </strong>  "Un échange intéressant, Isabelle est très sympathique"
    </div>
</div>

</div>








</div>



</div>







</div>

        </main>


    </body>
</html>





    

